.heading {
    background-color: teal;
    color: white;
    font-family: monospace;
    text-align: center;
    padding: 15px;
}

.ui.striped.compact.table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
